[2020-08-01 12:04] danclark5 opened #4 "uninitialized constant Reflex when using component_controller"
I'm attempting to integrate this gem into my own project, but I'm getting

[code]
Ignore the IngredientSelectComponent. I tried to get a baseline by copy/pasting your CounterComponent example out of the expo project.

I saw that you called out something similar in the README, but [I am wrapping the `CounterComponent` component with `component_controller`](https://github.com/danclark5/dindin/blob/v

[2020-08-03 11:53] danclark5 commented on #4
After tinkering around with this a bit. I'm realizing this is a rails engine, but I'm not sure why my app isn't loading the reflex in. It might be me not understanding rails engines.

Anyway, I can get past that error message if a fully qualify the references to Reflex [like this](https://github.com/danclark5/view_component_reflex/commit/38c54ec1703278b2d228b5e9a004dff90af68371). I still have issu

[2020-08-03 13:23] joshleblanc commented on #4
Hi @danclark5,

Can you try installing the gems `view_component_reflex@2.1.1`, `stimulus_reflex@3.3.0.pre2`, and the yarn package `stimulus_reflex@3.3.0-pre2`, and let me know if it works for you?

Thanks

[2020-08-04 10:39] danclark5 commented on #4
I updated the three and I'm still getting `uninitialized constant Reflex`. If I'm understanding engines correctly these should just be recognized.

[2020-08-04 11:20] danclark5 commented on #4
Taking a step back. What do I need to do to get this up in running in a new application? Do I need to install stimulus reflex? These might not be obvious questions, and the applicable answers should probably be in the README.

Here's what I'm trying after `rails new`
- Add `gem 'view_component_reflex'` to the Gemfile and run `bundle`.
- Add `require "view_component/engine"` right after `require 'r

[2020-08-04 11:42] joshleblanc commented on #4
That's intersting. I cloned your project and tested it with 2.1.2, and it was working.

I'll take a look in a minute

[2020-08-04 11:46] joshleblanc commented on #4
Oops, sorry. That should have been view_component_reflex@2.1.2, not 2.1.1

[2020-08-04 11:50] danclark5 commented on #4
That might have done it. I updated to 2.1.2 and it appears to be working. I'll verify Thursday.

Thanks for looking so quickly!

[2020-08-04 11:54] danclark5 commented on #4
https://github.com/joshleblanc/view_component_reflex/compare/v2.1.1...v2.1.2#diff-f6af1c4d87b1c6223d672959526b2debR5

![Isee what you did there](https://media.giphy.com/media/12ZDIx1Mw1cXVm/giphy.gif)

[2020-08-06 11:08] danclark5 commented on #4
It works. Thanks!

[2020-08-06 11:08] #4 closed

[2020-08-06 19:52] joshleblanc opened #5 "Parameters sent via stimulate aren't reaching the reflex method"

[2020-08-10 15:53] #5 closed

[2020-08-16 23:10] danclark5 opened #7 "StimulusReflex::Channel Failed to invoke CounterComponent#increment"
I'm trying to integrate view_component_reflex 2.1.4, but I'm getting the following error.

[code]
If I downgrade to 2.1.2 things work, but I haven't dug too much into this one. I added the [counter_component to establish a working baseline](https://github.com/danclark5/dindin/blob/add-ingredient-search/app/components/counter_component.rb). It's accessible on the [show meal page](https://github.com

[2020-08-16 23:22] joshleblanc commented on #7
Update stimulus reflex to 3.3.0-pre2. Don't forget to update the npm package too.

[2020-08-16 23:26] joshleblanc commented on #7
I pushed 2.1.5 which pins SR to 3.3.0.pre2

[2020-08-16 23:26] #7 closed

[2020-08-17 11:37] danclark5 commented on #7
That was it. Thanks!

[2020-08-25 10:20] alliedarmour opened #9 "Broadcasting Error in production"
In development the gem is working great, the other Stimulus Reflex stuff is working aswell in production - but If I try to use View Component Reflex in production I get the following error:

`StimulusReflex::Channel#receive({"target"=>"PerformedOrdersComponent#get_orders", "args"=>[], "url"=>"https://webmenue.nkbrf.de/users/9/show_orders", "attrs"=>{"id"=>"date_month", "name"=>"date[month]", "clas

[2020-08-25 11:39] joshleblanc commented on #9
That error implies that the reflex class wasn't found. Someone else ran into this in the discord but I couldn't reproduce it.

Can you create an MVCE so I can look at this on my end?

[2020-08-25 12:14] alliedarmour commented on #9
Mh, as it's just not working in production that could be a bit hard.
I can provide some snippets of my code, maybe this helps to figure out the problem

Basically I have a normal Rails view which is rendering the component:

[code]
Next up, inside the component I'm initializing the data and defining my reflex:

[code]

And this is my view template:

[code]

And inside I'm rendering a component for

[2020-08-25 14:15] joshleblanc commented on #9
No, if it works in development, it should work in production.

I wonder if there's some autoloading bug going on. The reflexes are created at runtime (the first time component_controller is called actually), so there's no reason it that error *could* happen, especially since the expo site doesn't have this problem.

I'll try using the code samples you provided to re-create it after work

[2020-08-25 23:54] joshleblanc commented on #9
@alliedarmour What does order_component.html.erb look like?

[2020-08-26 05:39] alliedarmour commented on #9
The order_component.html.erb just represents the rows of the table:

[code]

I don't really think it's connected to my components, as I read in the discord that for the other guy it didn't work with the barebones example of incrementing a number.
I also checked redis, my cable config etc. but everything else is working fine, including regular StimulusReflex.

Maybe problems with passenger or somet

[2020-08-26 09:40] joshleblanc commented on #9
I have 2 sites running this on puma. I'll try launching it with passenger to see if that's the problem.

I've already ruled out redis as the problem

[2020-08-26 10:58] joshleblanc commented on #9
I just straight cloned the expo and pushed it to heroku and it worked without any issues.

This is very confusing.

[2020-08-26 11:23] alliedarmour commented on #9
Mh, I have two applications running on Nginx + Passenger and SR running without any issues. Your gem is awesome, that's why I kinda don't like that I had to switch back to "regular" Reflexes, I'd rather had the logic in my component.

Maybe really some [autoloading](https://dev.to/shushugah/rails-auto-loading-magic-gone-wrong-19kp) issue?

[2020-08-26 13:02] joshleblanc commented on #9
I'll try changing everything to thier full module paths after work

[2020-08-26 23:51] joshleblanc commented on #9
I went ahead and pushed that change

[2020-08-27 05:31] alliedarmour commented on #9
Hey, first thanks for your effort! Now at least the transmission seems to be working, but this time I get an javascript error in console:

![Bildschirmfoto von 2020-08-27 07-23-35](https://user-images.githubusercontent.com/20596363/91388015-cdfcdb80-e836-11ea-9754-80df7a46e08b.png)

The production log file says the following:

[code]

[2020-08-27 10:15] joshleblanc commented on #9
This is a different error, I'd need to see the component code and markup for this particular case.

[2020-08-27 10:44] alliedarmour commented on #9
It's just the standard increment code, just with another component name.

[code]

[code]
Nope, it's just the standard capistrano / passenger / nginx deployment involved. I don't know may be something is wrong on my side and the error is not on your side, just wondering that SR itself works without problems. Just wondering that I'm not the only one with this problem.

[2020-08-27 11:48] joshleblanc commented on #9
Very strange. The error you're getting is because `@count` is undefined.

The way view_component_reflex works is when you render the page, it gathers all of the instance variables and tucks them away. When you perform a reflex, view_component_reflex re-creates the component, and sets all of the instance variables based on what it tucked away. Then it performs the reflex, tucks away the new variabl

[2020-08-27 12:22] alliedarmour commented on #9
This gives me the old error again x). Maybe I'll try to deploy to Heroku to see if it runs there.

[2020-08-27 12:23] joshleblanc commented on #9
I'm confounded. I wish I could reproduce this

[2020-09-21 17:39] suan opened #13 "Lifecycle Callbacks?"
Is there any way to set before_reflex etc type callbacks in my `ViewComponentReflex::Component`? It's been extremely painful without this capability.

Looking further, I think one root cause is that the library inherits off of `StimulusReflex::Reflex`, whereas many codebases use the base `ApplicationReflex` pattern... if one could configure a base reflex class, that would be helpful too

[2020-09-22 22:33] joshleblanc commented on #13
Lifecycle methods should now work.

You can now specify the reflex base class with `reflex_base_class(new_class)` in your component.

[2020-09-22 22:33] #13 closed

[2020-09-22 22:35] joshleblanc commented on #9
That has been resolved in 2.3.1

[2020-09-22 22:35] #9 closed

[2020-09-23 18:04] alliedarmour commented on #9
Thanks for the reply! I can confirm it's working for me now :).

[2020-09-23 20:27] joshleblanc opened #14 "Session state adapter is very slow"
Probably related to one of the many changes I made between 3.3.0 and 3.3.4, since I broke a lot of things during that.

[2020-09-25 11:46] #14 closed

[2020-09-28 15:52] suan opened #16 "Default key generation algorithm is very brittle"
Sorry don't mean to be hard, this is a great library and I want it to improve!

But on the issue, case in point: by default if I render the same component multiple times from a view (they might not even be in a collection, I might have them multiple times on a page used in different ways)... they get the same key, and of course all kinds of bad things happen!

I think at the very least this should

[2020-09-28 16:14] joshleblanc commented on #16
You can safely put multiple components on the same page. The key generation takes into account the line number.

If you're rendering multiple components in the same file & line, you can use `collection_key` to append an identifier unique to that component. It's mentioned here: https://github.com/joshleblanc/view_component_reflex#collections.

I know the key generation is trash, but I needed someth

[2020-09-30 08:11] gordienko opened #17 "CableReady detected an error in morph!"
I managed to launch my StimulusReflex application on IE11, but I can’t start the component, I get the error: CableReady detected an error in morph! Failed to get the "nodeType" property of a link whose value is undefined or is NULL.

How can you fix this?

[2020-10-07 07:02] bduc opened #18 "Component state not preserved between page reloads"
Hi,
I'm trying to put this fantastic thing into practice, replacing my view_component's with state in the session with view_component_reflex.

Is it on purpose that the state of the component is reinitialized when the page reloads and there is already state in the session ?
I also checked on the expo page and the local_state demo has the same behavior: if you reload the page the counter start at 0

[2020-10-07 15:56] joshleblanc commented on #18
Yeah, that was an intentional decision. I don't see any reason we can't make it an option to persist state, though.

I'll take a look at this when I get a chance, thanks.

[2020-10-08 14:21] emilkarl opened #20 "Update a model in an easy way?"
Is there a best practice for handling model updates with ViewComponentReflex?

Im trying to do something like this but when the action `toggle` is reflexed the `@todo` is a hash and not a model. How would you handle a case like this?

[code]

This is the solution I can come up with...not sure if its the best one? 🤷‍♂️

[code]

[2020-10-08 14:37] joshleblanc commented on #20
That shouldn't be the case, I modify models directly throughout the expo.

https://github.com/joshleblanc/view_component_reflex_expo/blob/master/app/components/todo_component.rb

Do you have a repo I can look at that reproduces the issue?

[2020-10-09 15:01] emilkarl commented on #20
Wow, ok that looks nicer. I dont but Im using Rails 5.2? Do I need Rails 6 for this to work properly?

I can try a reproduce in a separate project maybe.

[2020-10-10 10:55] joshleblanc commented on #20
Hi, try the latest version, the rails version requirement was relaxed.

[2020-10-14 21:05] sebyx07 opened #23 "Anycable problem solved"
Leaving this, might help others:

I tried this with any cable and I had to add this to `development.rb`
Otherwise @instance_variables were `nil` after a reflex

[code]

[2020-10-14 21:57] sebyx07 opened #24 "My take on view_component_reflex with --sidecar nested."
This is how I use view_component_reflex with the --sidecar layout from view_component.

first the dir structure

![screen21](https://user-images.githubusercontent.com/5052549/96049165-875b5300-0e6f-11eb-97f1-e18ddebc2707.jpg)

Before putting the .js & .scss you must change the application.js to load controllers properly. Here is mine:

[code]

My application_controller.js, which is pretty standard

[2020-10-14 22:03] sebyx07 commented on #24
I'll leave application_component.rb

[code]
 & the example_component.rb just in case
[code]
& the html
[code]

[2020-10-19 20:42] suan commented on #16
Ah, turns out I was running into this when rendering multiple instances the component in a loop (hence same line)

For now I've just put a

[code]

in a shared `ApplicationComponent` so I never have to worry about it again

[2020-10-22 16:18] jonatassalgado opened #26 "Nested controller in folders: separator different from stimulus reflex original lib"
Some reason to use  "/" and not "--" as separator? Like in stimulus reflex lib https://github.com/stimulusjs/stimulus/pull/65

When we use some like:

- components
  - example_folder
    - example_component.html.erb
    - example_component.rb -> ExampleFolder::ExampleComponent
    - example_controller.js

The controller generated is: `example-folder/example` and not `example-folder--example`

[2020-11-02 11:05] sneveu opened #28 "Error when booting rails server in Rails 6.1.0.alpha"
Immediately after installing the gem, when trying to fire up the rails server in Rails 6.1.0.alpha, I get the following error message.

```.rbenv/versions/2.7.1/lib/ruby/gems/2.7.0/bundler/gems/rails-2042865c5f46/activesupport/lib/active_support/core_ext/module/attribute_accessors.rb:52:in `mattr_reader': module attributes should be defined directly on class, not singleton (TypeError)```

Is there

[2020-11-02 18:19] emilkarl opened #29 "Error: can't dump anonymous class #<Class:0x00007fc750838028>"
Getting an error when trying to use ViewComponentReflex. I have ViewComponents, Stimulus and StimulusReflex working but getting this error after installing ViewComponentReflex and trying to render a component that includes with `reflex_data_attributes()` and/or wrapped in `<%= component_controller do %>`.

Any ideas why?

Using Rails 5.2, ActiveRecordSessionStore.

![image](https://user-images.git

[2020-11-02 18:25] #29 closed

[2020-11-02 18:25] emilkarl commented on #29
Found an issue with an object that was initialised with the ViewComponent.

[2020-11-02 19:04] emilkarl opened #30 "Error generating Reflex classes in Rails 5.2"
Found a possible issue with this in Rails 5.2. Seems like `module_parent` is introduced in [Rails 6](https://apidock.com/rails/v6.0.0/Module/module_parent). If someone could look in to it, it would be nice. I can take a look and create a PR but not at the moment.

Getting this error:

![image](https://user-images.githubusercontent.com/10711/97907689-efea7100-1d45-11eb-9eb0-17d212d1beaf.png)

Error

[2020-11-03 07:58] sneveu commented on #28
We were able to monkey patch the above issue but then ran into the following error when invoking a reflex action taken from the docs which suggests it's incompatibility with Rails 6.1.

```↓ reflex ↓ CounterComponent#increment StimulusReflex::Channel Failed to invoke CounterComponent#increment! http://localhost:3000/ undefined method `render_component_to_string' for #<WelcomeController:0x000000000

[2020-11-03 08:19] emilkarl commented on #20
I think it had to do with our SessionStore. Found some other issues with Rails 5.2 tho. Will put up a PR .

[2020-11-03 12:43] joshleblanc commented on #30
Looks like we can use `parent` instead of `module_parent` in rails < 6, but I'll have to test it.

Thanks for the report

[2020-11-03 12:46] joshleblanc commented on #28
`render_component_to_string` is from view_component https://github.com/github/view_component/blob/master/lib/view_component/render_component_to_string_helper.rb

I'll update the expo to 6.1 shortly and work through the issues it brings up.

[2020-11-03 12:47] joshleblanc commented on #17
SR doesn't support IE11 as of yet, but this PR should be what you're looking for: https://github.com/hopsoft/stimulus_reflex/pull/345

[2020-11-03 12:47] #17 closed

[2020-11-06 12:43] #28 closed

[2020-11-16 21:07] stevegeek opened #37 "Saving state on refresh includes omitted state"
Hi!

I think

https://github.com/joshleblanc/view_component_reflex/blob/3a588334cc15e993871fc5ba149617f36e1f9c33/app/components/view_component_reflex/component.rb#L188

should be taking into account `omitted_from_state`

ie fix is:
[code]

cause in

https://github.com/joshleblanc/view_component_reflex/blob/3a588334cc15e993871fc5ba149617f36e1f9c33/lib/view_component_reflex/reflex.rb#L144

the omitt

[2020-11-17 19:49] joshleblanc commented on #37
They're omitted on line 206, but omitting directly in safe_instance_variables is more readable. If you want to submit a PR for this, I'll accept it.

[2020-11-17 21:06] stevegeek commented on #37
Ok sure! Yeah they are omitted on 206 in Component but not in Reflex where the problem is fundamentally

[2020-12-03 17:11] joseph1wan opened #38 "Auto-loading reflex base class in development"
Really two issues here. Let me know if you want this split into two issues:

### 1. The `reflex_base_class` does not get passed on with inheritance
Given:

[code]

Any class inheriting from `BaseComponent`, such as `CustomComponent < BaseComponent` does not have access to the `reflex_base_class` and has to explicitly declare `reflex_base_class ApplicationReflex`

### 2. Changes to the class define

[2020-12-03 20:50] #37 closed

[2020-12-06 17:28] #30 closed

[2020-12-06 17:29] #16 closed

[2020-12-06 17:31] joshleblanc commented on #23
I added this to the readme

[2020-12-06 17:31] #23 closed

[2020-12-06 17:31] #20 closed

[2020-12-06 18:27] joshleblanc commented on #38
3.0.0 Should fix both of these issues.

Not that the breaking change here is `reflex_base_class` is now an accessor rather than a method.

[2020-12-06 18:27] #38 closed

[2020-12-06 20:10] joseph1wan commented on #38
Thanks!

[2020-12-15 00:11] cj opened #41 "no _dump_data is defined for class Proc"
Hi,

I am using v3.4 - I saw the example https://view-component-reflex-expo.grep.sh/data_table where you are doing `accessor: ->(model) { model.gpa.round(2) },`, but I was under the impression ruby caching does not handle proc's or anonymous classes, but your example is working.  When I tried doing something similar locally I get `no _dump_data is defined for class Proc.`  I was wondering what I w

[2020-12-15 01:44] cj opened #42 "Reflex FormComponent::Base#handle_click failed: uninitialized constant FormComponent::BaseReflex"
I am trying a simple example

[code]

[code]

and I am getting the following error:

[code]

`rails 6.1 `
`gem 'stimulus_reflex', '~> 3.4.0.pre9'`
`stimulus": "^2.0.0`
`stimulus_reflex": "3.4.0-pre8`
`gem 'view_component_reflex', '~> 3.0.0'`
`gem 'view_component', '~> 2.23.1'`

Let me know if you need any more information!

[2020-12-15 02:17] cj commented on #41
These are the versions I am using:

`rails 6.1 `
`gem 'stimulus_reflex', '~> 3.4.0.pre9'`
`stimulus": "^2.0.0`
`stimulus_reflex": "3.4.0-pre8`
`gem 'view_component_reflex', '~> 3.0.0'`
`gem 'view_component', '~> 2.23.1'`

[2020-12-15 12:39] joshleblanc commented on #41
You'll want to use the memory adapter if you're trying to store procs in state.

[code]

[2020-12-15 12:39] #41 closed

[2020-12-15 15:36] cj commented on #41
@joshleblanc ah, I knew I was missing something.  Thank you!

[2020-12-15 17:32] cj commented on #42
I thought maybe removing https://github.com/joshleblanc/view_component_reflex/blob/master/lib/view_component_reflex/reflex_factory.rb#L18 would fix it, but the error still persists.

[2020-12-15 17:52] cj commented on #42
Ok, so looks like it's a combination of:

- https://github.com/joshleblanc/view_component_reflex/blob/master/lib/view_component_reflex/reflex_factory.rb#L18
- https://github.com/joshleblanc/view_component_reflex/blob/master/lib/view_component_reflex/engine.rb#L16
- https://github.com/hopsoft/stimulus_reflex/blob/master/app/channels/stimulus_reflex/channel.rb#L25

@joshleblanc @hopsoft Is there a r

[2020-12-15 18:02] joshleblanc commented on #42
@cj view_compoennt_reflex implicitly creates a reflex with the name <component name>Reflex. It's not created by the user, the libraries generates it on the fly. Given that, every reflex generated by view_component_reflex has Reflex at the end of its name.

VIewComponent's naming scheme has every component post-fixed by `Component`. Absolutely nothing makes the developer maintain this pattern, but

[2020-12-15 18:06] cj commented on #42
@joshleblanc thank you for the response and that makes sense.

View component is working without having the child class appended with Component.  It seems like just removing https://github.com/joshleblanc/view_component_reflex/blob/master/lib/view_component_reflex/engine.rb#L16 fixes all the issues I was having with naming.  As you have this check `component_name.constantize.init_stimulus_reflex`

[2020-12-15 18:22] joshleblanc commented on #42
Can't just _only_ remove the check. That will throw incorrect warnings.

You'd have to constantize the component name, suppress any errors that throws, then check if it responds to init_stimulus_reflex, and run it if so. If the constantize succeeds, and it doesn't respond to init_stimulus_reflex, you could omit the current warning.

[2020-12-15 18:34] cj commented on #42
Would something like this work?

[code]

[2020-12-15 18:38] joshleblanc commented on #42
Something more like this

[code]

[2020-12-15 18:40] cj commented on #42
That looks better.... (I had updated my comment as I made a mistake, I was writing it while eating lunch. lol)

[2020-12-15 20:33] cj commented on #42
@joshleblanc If you'd like me to open a pull request let me know.  Thank you again!

[2020-12-15 20:37] cj opened #43 "Components are not keeping state"
Currently the component is not keeping state which is giving me this error `ERROR: undefined method `+' for nil:NilClass`.

I have uploaded a demo repo here https://github.com/cj/app-template and the component I am testing is https://github.com/cj/app-template/tree/main/app/components/form_component.

I'm sure I am just missing something!

[2020-12-15 21:40] joshleblanc commented on #42
Just testing it now

[2020-12-15 21:48] #42 closed

[2020-12-15 22:05] cj commented on #43
Ok - so it turns out that was caused to a miss-configuration which I fixed and it is not triggering.  There are still some issues however, I am getting all these warnings and a couple of error messages:

![CleanShot 2020-12-15 at 16 04 22](https://user-images.githubusercontent.com/1819/102278326-3b6c6f00-3eef-11eb-9cab-c5d60cb86f0f.png)

I also noticed that changing the handle click to:

[code]

R

[2020-12-15 22:07] joshleblanc commented on #43
Typically you need to add an id to the element triggering the reflex for SR to find it again.

[2020-12-15 22:10] joshleblanc commented on #43
`refresh("testing-clicked", selector)` would try to update the tag `testing-clicked`, not `data-key="testing-clicked"`.

The `selector` parameter is the unique selector for the component. So it would refresh the entire component, like you noticed.

[2020-12-15 22:10] cj commented on #43
@joshleblanc It seems to work by either doing `refresh!("testing-clicked", selector)` and `<div data-key="testing-clicked">` OR `refresh!("#testing-clicked", selector)` and `<div id="testing-clicked">` .  The issue is not that it isn't getting triggered, but that it still refresh the entire component.

The errors and warnings from above are without `refresh!` all together.

[2020-12-15 22:11] joshleblanc commented on #43
Not sure about the error. I'll have to look into that more.

[2020-12-15 22:11] cj commented on #43
@joshleblanc ah that makes sense about the `selector`, the issue now is count does not get updated....

[2020-12-15 22:12] joshleblanc commented on #43
If you turn off debug mode in SR's frontend, does it work?

[2020-12-15 22:12] cj commented on #43
![CleanShot 2020-12-15 at 16 12 01](https://user-images.githubusercontent.com/1819/102278982-4c69b000-3ef0-11eb-8c98-b6aa06efbdb4.gif)

[2020-12-15 22:16] cj commented on #43
with debug off I still have the same issue.  I have updated the repo here https://github.com/cj/app-template

[2020-12-15 22:33] joshleblanc commented on #43
In your repo as it exists, you're not rendering the component again at all.

[code]

   Testing without the `refresh!` call, and `refresh!("#testing-clicked", selector)` both worked as expected for me.

![qic04DAJI0](https://user-images.githubusercontent.com/1729810/102280698-07e80f80-3f04-11eb-852b-8f6520f59d52.gif)

[2020-12-15 22:38] cj commented on #43
Ah, I needed to move down the `<%= @count %>` inside the div, I totally missed that!  THANK YOU!

Were you getting the errors and warning in the console?

[2020-12-15 22:42] joshleblanc commented on #43
Yeah, I can reproduce those. Going to look into it more

[2020-12-15 22:44] cj commented on #43
@joshleblanc cheers!

[2020-12-15 22:44] cj commented on #43
Let me know if you want me to test anything or need some help.

[2020-12-15 23:37] joshleblanc commented on #43
Will do

[2020-12-15 23:37] #43 closed

[2020-12-17 20:04] cj opened #44 "Testing fails for View Components due to component_controller"
When doing a simple test i.e.

[code]

This error is thrown:

[code]

It is failing on `component_controller`.  Currently I have it stubbed for tests by doing the following:

[code]

I am going to try and track down the error to see if there is a better solution.

[2020-12-17 20:05] cj commented on #44
It most likely is `request.session.id`

[2020-12-17 20:14] cj commented on #44
Ok so here is the fix:

[code]

[2020-12-18 13:37] joshleblanc commented on #44
This should be resolved in 3.0.2

Thanks for the report!

[2020-12-18 13:37] #44 closed

[2020-12-19 01:05] cj commented on #26
@jonatassalgado I just ran into this issue myself, great minds!

[2020-12-19 17:32] cj commented on #43
@joshleblanc Hope you're having a great weekend!

I hope I am not going crazy (or doing something wrong), but I think I ran into an actual issue with state and models.

I have updated https://github.com/cj/app-template, and the files in the example below are https://github.com/cj/app-template/tree/main/app/components/form_component.

The issue is the `@user.email` update is not being reflected in

[2020-12-19 19:25] joshleblanc commented on #43
Ah, this is a case where the documentation could take some work.

When a component is initialized, we compare the stored state with the initial state of the component (Usually passed in via parameters). In this case, when comparing `User.new` to the old `User.new`, the system will always think it's receiving a new value, and replace the one from state.

So to fix this, we just need to define the `

[2020-12-19 19:31] joshleblanc commented on #26
Sorry for the delay, just finally catching up on my free time!

This should be fixed in 3.0.4

[2020-12-19 19:31] #26 closed

[2020-12-19 20:50] cj commented on #43
@joshleblanc thank you, I thought I was going crazy!

I ended up adding this to my base component which works well:

[code]

I have noticed now there are oddities when using inputs, it ranges from the div disappearing to a querySelector error which I get if I add `debounced:`. (I updated the app-template repo):

![CleanShot 2020-12-19 at 14 46 28](https://user-images.githubusercontent.com/1819/102

[2020-12-19 22:35] cj commented on #43
[code]

Is the other error I get sometimes.

[2020-12-20 00:02] cj commented on #43
@joshleblanc I have also noticed if you remove https://github.com/cj/app-template/blob/main/app/components/form_component/base.rb#L41 this https://docs.stimulusreflex.com/patterns#autofocus-text-boxes trick no longer workers.

[2020-12-20 00:50] joshleblanc commented on #43
Oh interesting. IDs can't start with a number. Should be an easy fix

[2021-01-04 23:00] drnic opened #45 "My component tests fail with redis adapter"
Some fixes came in for memory adapter https://github.com/joshleblanc/view_component_reflex/commit/67a9bee7e3bdd81a33dba99c774bb336f19c6756, and I think we need similar fix for redis adapter

Some discussion on discord before/after https://discord.com/channels/629472241427415060/725845575278264340/794698716647784458

![image](https://user-images.githubusercontent.com/108/103588227-754ff480-4f34-11e

[2021-01-04 23:22] joshleblanc commented on #45
This is fixed in 3.0.5

Sorry for the delay.

[2021-01-04 23:22] #45 closed

[2021-01-10 00:00] joshleblanc opened #48 "Investigate method_missing on component"
Investigate what happens if you stimulate a method on the component that doesn't exist, but you do define method_missing.

[2021-01-27 21:30] pelletencate opened #50 "around_reflex callback does not work"
[code]

Expected:

Calls `do_awesome_stuff` with a block that when yielded, executes any reflex.

Observed:

1. Crashes on the method being private while called from outside. This is non-rails compliant, I think the reflex's `method_missing` should use `send` to call it.
2. When I make it public, it is called, but without a block, which also seems to be "discarded" inside the reflex's `method_miss

[2021-01-28 21:53] joshleblanc commented on #50
This has been resolved 3.1.4

[2021-01-28 21:53] #50 closed

[2021-02-03 15:55] RolandStuder opened #51 "Sometimes reflexes do not update the ViewComponent"
So we noticed that sometimes the VCR does not actually update.

I recorded the behavior here
https://www.loom.com/share/c02c0f069e7d49298caa6c605a3d832e

I think this is a race condition. In the console of the browser we see, that there are two incoming websocket transmissions, one correct one with the morph operation, and one with a nothing-morph.

If the nothing morph arrives first, then the act

[2021-02-03 16:48] joshleblanc commented on #51
This is the most detailed bug report I have ever received 👍

[2021-02-03 17:22] joshleblanc commented on #51
3.6.1 should fix this

[2021-02-03 17:22] #51 closed

[2021-02-04 08:55] RolandStuder commented on #51
As far as I can tell, this fixed it! @joshleblanc Thanks a lot for this super fast fix!

Happy to hear you liked the detail of the bug report, when I was thinking: Damn, I really should spin up a MVCE :-)

[2021-02-04 11:08] sebastianiorga commented on #18
There's a slightly buggy aspect to this. I've got a rails 6.1 app, latest versions of SR/VCR, 2 routes setup so I can click between them, one has the counter component, the other an empty page.

Using the Counter example in dev mode, if I increment it up to 10, click on the other page's link then click on the counter page link, the counter flashes 10 then updates to 0(the default) but after one in

[2021-02-04 13:11] joshleblanc commented on #18
That's interesting. I think both of those pages should be using the same session, so they should have the same state with the current implementation. Shouldn't be showing 0 at all. Must be a problem with the component initialization, I'll take a look at this

[2021-02-06 00:28] joshleblanc commented on #18
Can you try 3.1.7 @sebastianiorga

The state should reset whenever a component is mounted now. So in your example, when you increment the counter, then navigate to the same page on another tab, it should increment from zero.

[2021-02-09 11:35] sebastianiorga commented on #18
With a different tab I think it already worked. Using 3.1.5, if I increment in one tab, ctrl-click the link to the same page the new tab is starting from 0, no flash or anything and increments correctly.

The bug shows up when I navigate to a new path in the same tab. See gif below.

Gem versions VCR 3.1.7, VC 2.25.1, SR 3.4.1(technically the pause_observer branch, but it's the same on 3.4.1)

![r

[2021-02-09 11:55] joshleblanc commented on #18
I'm not seenig this behaviour in 3.1.7

![5KknHkV9W9](https://user-images.githubusercontent.com/1729810/107360302-1ab63500-6aac-11eb-923f-61821f1e2c4e.gif)

Do you have an MVCE I can look at?

[2021-02-09 12:37] sebastianiorga commented on #18
If I change my development.rb to

[code]

everything works like in your gif. Seems like this is an issue only when using the `CookieStore`.

That being said, even in your gif there is still a brief flash of the old value(just the first time, if you click back and forth a few times the correct default value is displayed) when you go back to the `Local state` page, though that's not that big a deal.

[2021-02-09 13:10] joshleblanc commented on #18
The flash is turbolinks.

I'll start testing with cookiestore this evening

[2021-02-09 19:24] joshleblanc commented on #18
@sebastianiorga I took a look at this.

You're going to run into more problems than just inconsistent persistence with the cookie store. Cookies have a max size of 4KB, and it doesn't look like rails serializes/deserializes objects coming in and out of the store the same way other adapters do, so any objects you have in state come out as hashes.

I wouldn't consider the cookie store as viable sess

[2021-02-10 10:19] sebastianiorga commented on #18
Fair enough, I'll switch development mode to the redis store. Thank you for looking into all this!

[2021-02-23 06:02] drnic opened #52 "viewcomponent 2.26 looks to break VCR"
After upgrading to VC 2.26.0 I started seeing errors like:

[code]

A quick look shows this is popping up within a VCR component that invokes `SomeOtherComponent.with_collection` into a pure VC/non-VCR component. E.g. `discussion_component.html.erb:9` looks like:

[code]

[2021-02-23 13:48] joshleblanc commented on #52
`with_collection` appears to be broken in generation vc 2.26.

[2021-02-23 17:11] joshleblanc commented on #52
https://github.com/github/view_component/issues/642

[2021-02-23 20:59] drnic commented on #52
Ha, sorry for assuming they'd broken VCR rather than assuming they had a self regression. I did check their issues first.

[2021-02-23 21:42] drnic commented on #52
VC v2.26.1 includes fix

[2021-02-23 21:42] #52 closed

[2021-03-16 14:21] olhor commented on #24
Following @sebyx07 approach I modified stimulus controller naming resolvers to match following "sidecar" folder structure.
Assuming we have a `parent_component` with nested `first_child_component` I wanted to have:
[code]

I had to modify `getDefinitionsFromContext` function in order to remove all `_component` parts from filenames and to follow stumulus naming conventions ("--" for namespace separ

[2021-03-29 07:24] julianrubisch opened #55 "Doesn't work with ActiveRecord Session Store"
Sorry for the brief description, just wanted to leave this here -> apparently VCR doesn't work in combination with https://github.com/rails/activerecord-session_store

[2021-09-05 01:05] omairrazam opened #64 "Not working with View Component version 2.38.0"

[2021-09-05 10:53] joshleblanc commented on #64
@omairrazam Can you give v3.1.14.pre3 a try?

[2021-09-05 17:35] omairrazam commented on #64
@joshleblanc it works, thanks

[2021-09-05 17:35] #64 closed

[2021-09-05 22:25] omairrazam opened #65 "How to use Stimulus Reflex Lifecycle Methods as per links in description using view_component_reflex?"
https://docs.stimulusreflex.com/rtfm/lifecycle#server-side-reflex-callbacks
https://docs.stimulusreflex.com/rtfm/lifecycle#custom-life-cycle-methods

Also view_component_reflex doesn't use sidecar stimulus controller but points to controller inside javascripts folder. How to manage that?

[2021-09-08 18:11] joshleblanc commented on #65
You should be able to use the server side callbacks as if the component is a reflex.

The location of the controller shouldn't matter for the frontend. It just assumes that the component name matches the name of the controller.

Are you running into any problems in particular?

[2021-09-08 19:10] omairrazam commented on #65
@joshleblanc Thanks for looking at my issue.

I tried to consider Component as a reflex and used standard way to call hook, but it didn't work. I will try again. if you have any working example that would be helpful.

secondly my controller is called as `data-controller="example-component--example-component"` if it is located inside my component but I see this is what is applied to my html from vi

[2021-09-09 19:49] joshleblanc commented on #65
@omairrazam I gave it a whirl on my end, and a component that looked like

[code]

Output the data controller `example-component--example`. What does your file structure look like?

[2021-09-09 20:09] omairrazam commented on #65
<img width="1635" alt="Screenshot 2021-09-10 at 1 08 20 AM" src="https://user-images.githubusercontent.com/10624816/132755430-7d5ec290-bd58-46d2-b5d3-9b7b5a4d432d.png">

@joshleblanc really appreciate your help. Please see attached image.
Thanks.

[2021-09-09 20:11] omairrazam commented on #65
@joshleblanc i generated my component using view_component gem's command and then manually changed parent class of component to what your gem suggests.

`rails generate component Example title --sidecar`

[2021-09-10 10:16] joshleblanc commented on #65
Right now, there's no good way to generate the controller from the component, since it's not actually in the sidecar folder itself.

But you can use `component_controller data: { controller: "example-component--example-component" key: key }` to override view component reflex's defaults.

[2021-09-18 00:47] omairrazam commented on #65
@joshleblanc overriding did work to pick my controller but my reflex stopped working, here is some clue from console. please see snapshot.

<img width="1267" alt="Screenshot 2021-09-18 at 5 46 50 AM" src="https://user-images.githubusercontent.com/10624816/133866367-b8150921-dc8f-42d9-ab85-1bf03bb4fdb2.png">

[2021-09-18 00:54] omairrazam commented on #65
@joshleblanc ok by reading the code of gem, I am able to spot what to override and it worked.
I just override this class method

`def self.stimulus_controller
    'example-component--example-component'
  end`

[2021-09-18 01:11] omairrazam commented on #65
The only issue now I need help with is to utilize before and after reflex hooks. I tried to use it as flex as mentioned in this doc.
https://docs.stimulusreflex.com/rtfm/lifecycle

But it didn't work.

@joshleblanc

[2021-09-18 10:55] joshleblanc commented on #65
This is good stuff. Thanks for looking into this.

[2021-09-18 11:30] joshleblanc commented on #65
@omairrazam So I tested this in the expo, and this worked as expected:

[code]

Tried it using method references as well, which worked.

I did find a problem, though: Changing callbacks at runtime would not register. You would need to restart the server entirely.
I imagine this is the problem you were running into.

I've just pushed 3.1.14.pre5 which should re-wire the callbacks on request in deve

[2021-09-18 11:30] #65 closed

[2021-09-18 19:17] omairrazam commented on #65
@joshleblanc thanks. yes it worked after restarting the server

[2021-12-29 15:48] bopm opened #70 "Rails 7 support"
Any plans for Rails 7 support?

[2021-12-31 02:22] joshleblanc commented on #70
@bopm Ran some tests, seems to work fine. Pushed up 3.1.14.pre8 that relaxes the rails version requirement.

[2021-12-31 02:22] #70 closed

[2022-03-18 14:54] jibees opened #75 "can't dump IO"
Hello there,

I'm facing an issue, and I need some help.
here are my source:

The component view:
[code]

The component logic;
[code]

The file rendering the component:
[code]

I've the following error:

[code]

Seems to be triggered by `component_controller` because if I remove this, error isn't trigger, reflex is well triggered too, but can't refresh the component itself (I suspect because no ke

[2022-03-18 15:38] joshleblanc commented on #75
@jibees Hi there,

What version of view_component and view_component_reflex are you using?

[2022-03-18 15:42] joshleblanc commented on #75
@jibees Can you try view_component version 3.1.14.pre9

[2022-03-18 15:44] jibees commented on #75
You mean `view_component_reflex ` right?

[2022-03-18 15:45] joshleblanc commented on #75
Yes, sorry

[2022-03-18 15:58] jibees commented on #75
... and ... It works! Thanks ;)

[2022-03-18 16:01] joshleblanc commented on #75
Awesome.

Sorry it's on a pre-release, it's depending on a pre-release version of StimulusReflex, so I didn't want to cut a normal release.

[2022-11-16 23:05] omarluq opened #85 "Error: no implicit conversion of nil into String (TypeError)"
Rails: 7.0.4
Ruby: 3.1.2
stimulus_reflex:  3.5.0.pre9
view_component_reflex:  3.2.0.pre2
view_component:  2.75.0
stimulus-rails: 1.1.1

when I run rails server im getting the following:

[code]

[2022-11-27 15:33] julianrubisch commented on #85
I can confirm this is an issue after VC 2.74.1

[2022-11-28 15:44] omarluq commented on #85
@julianrubisch its seems that the root of the error is going back to view components base class.